<div class="face-snap-card">
    <h2>{{ faceSnap.title }}</h2>
    @if (faceSnap.location) {
        <p>Localisation : {{ faceSnap.location }}</p>
    } @else {
        <p>Localisation non spécifiée</p>
    }
    <!-- L'attribute binding permet de lier la valeur d'une propriété TypeScript à un attribut HTML, en mettant l'attribut entre crochets  []  et en passant le nom de la propriété. -->
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>FaceSnap crée le {{ faceSnap.createdAt }}</p>
    <p>
        <button (click)="onSnap()">{{ snapButtonText }}</button>
        👍 {{ faceSnap.snaps }}
    </p>
</div>
