/* You can add global styles to this file, and also import other style files */

* {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: rgb(50, 51, 68);
    color: rgb(186, 204, 228);
  }
